#title,#statsTitle, #scatterTitle {
    text-align: left;
    margin: 0 auto;
}

#title>h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 32pt;
    margin-bottom: 0rem;
}

#title>p {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20pt;
    margin-top: 0rem;
    margin-bottom: 10pt;
}

#statsTitle>h2, #scatterTitle>h2 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-size: 20pt;
    margin-top: 0rem;
    margin-bottom: 10pt;
}

#squareplot, #scatterplot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}


#squareplot text {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 200;
    fill-opacity: 0.7;
    user-select: none;
}

#squareplot>.daylabel {
    font-style: italic;
    pointer-events: none;
}

#sqpltcaption {
    margin-left: auto;
    margin-right: auto;
}

#sqpltcaption p {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-size: 12pt;
    margin-top: 0rem;
    margin-bottom: 40px;
}

#eventcountstats {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#eventcountstats text {
    user-select: none;
}

#org_label,#ind_label {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}

#org_evt_ct,#ind_evt_ct {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

#org_pct,#ind_pct {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
}
